@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;700&family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit';

}

body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

main{
    background-color: white;
    width: 15em;
    padding: 1em;
    border-radius: 1em;
}

.titulo{
    padding: 0.5em;
    margin: 0.3em auto;
    font-size: 1em;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.text{
    color:hsl(220, 15%, 55%);
    text-align: center;
    font-size: 0.9em;
    padding: 0 1em;
    
}

.img-qr{
    width:100%;
    border-radius: 10px;
    
}

@media (max-width:375px) {
    main{
        width: 20em;
    }

}